@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<ModelEF.EF.UserAccount>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <h4><b>Quản Lý Tài Khoản</b></h4>
}

@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
        </div>
    </div>
}

<table class="table table-striped">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên Đăng Nhập
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>Trạng Thái</th>
        <th style="text-align:center">Thao Tác</th>
    </tr>
    @{ var i = 1;}
    @if (Model.Count() <= 0)
    {
        <tr><td colspan="5">List none</td></tr>
    }
    @foreach (var item in Model)
    {

        <tr id="row_@item.ID">
            <td>
                @i
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Password
            </td>
            <td>@item.Status</td>
            <td style="display:inline-flex; justify-content: space-around; width:100%">
                <div style="color:red;cursor:pointer">
                    @Ajax.ActionLink(" ", "Delete", new { @ID = item.ID }, new AjaxOptions
               {
                   Confirm = "Bạn muốn xóa người dùng này?",
                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "glyphicon glyphicon-trash" })
                </div>
            </td>
        </tr>
        i++;
    }

</table>
<div>
    <center>@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))</center>
</div>
