@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header{
    <h4><b>Quản Lý Sản Phẩm</b></h4>
}
@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Thêm Mới", "Create", "Product", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table table-striped">
        <tr>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Loại Sản Phẩm
            </th>
            <th style="text-align:center; width:15%">Thao Tác</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="row_@item.ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryID)
                </td>
                <td style="text-align:center; color:blue">
                    <a href="~/Admin/Product/Edit/@item.ID">Edit</a> |
                    @Html.ActionLink("Detail", "Detail", new { id = item.ID }) |
                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa bản ghi này không?",
                           OnComplete = "$('#row_" + item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                </td>
            </tr>
        }
    </table>
    <div style="text-align:center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
    </div>
</div>
